*{
    padding: 0;
    margin: 0;
}
.section-one{
    text-align: center;
    size: 20px;
    background: #000;
    color: white;
    padding: 40px;
    margin-bottom: 10px;
}
.contact-form{
    text-align: center;
    background: #000;
    color: white;
    padding:10px;
    margin-top: 10px;
}
table, th, td {
  border: none
  
}
button{
    background-color: #000;
    color: white;
    padding: 10px 10px;
}
button:hover{
    background-color: rgb(191, 242, 6);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    transition: 1s;
}

.section-one-desc{
    color: gray;
}
.section-two-pizza1,.section-two-pizza2,.section-two-pizza3,.section-two-pizza4{
     border: solid black 2px;
    display:inline-block;
    
    transition: width 1s, height 1s, transform 1s;
}
.section-two-pizza1:hover,.section-two-pizza2:hover,.section-two-pizza3:hover,.section-two-pizza4:hover{
 
    background-color: rgb(230, 158, 16);
     padding: 5px;
     padding-bottom: 0px;
}

.section-two{
    text-align: center;
    
}

img{
    width: 230px;
    height: 300px;
    transition: width 1s, height 1s, transform 1s
}
img:hover{
    width: 330px;
    height: 500px;
    margin-top: 10px;
   
   
}
.contact-form_input{
    width: 20%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.contact-form_input:hover{
    width: 21%;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid rgb(253, 4, 4);
    border-radius: 5px;
   
}
.contact-form_submit{
    width: 40%;
    background-color: yellow;
    color: #000;
    height: 40px;
    border-radius: 5px;
}
.contact-form_submit:hover{
    width: 40%;
    background-color: rgb(31, 213, 22);
    color: #000;
    height: 40px;
    border-radius: 5px;
}
